@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html,body {
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url("http://wallpaperswide.com/download/blurry_blue_background-wallpaper-1366x768.jpg") no-repeat 50% 50%;
    display: table;
    top:0;
    background-size: cover;
}
.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
    
}
.content{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.content h1{
    font-family: 'Raleway', sans-serif;
    color: #F9f3f4;
    text-shadow: 0px 0px 300px #000;
    font-size: 180%;
}
.btn{
    border-bottom-width: thick;
    border-radius: 9px;
    font-family: 'Oswald',sans-serif;
    color: #F9f3c4;
    font-size: 150%;
    padding: 10px 20px;
    border: solid #F9f3c4 3px; 
    text-decoration: none;
    
}